<div class="cta-section">
    <div class="w-layout-grid cta-grid">
      <div class="cta-image"></div>
      <div class="cta-content">
        <h1 class="w-basic-heading cta-heading">{{ texts.-6cc08443 }}<span class="dark-span">{{ texts.-f2f4c71 }}</span>{{ texts.-1db0f7ec }}</h1>
        <a href="{{ links.4b0e6111 }}" class="button-white button-space w-button">{{ texts.-53f399f2 }}</a>
      </div>
    </div>
  </div>