<div class="footer">
    <div class="container">
      <div class="w-layout-grid footer-grid">
        <div id="w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5a-dcc6da57" class="footer-column"><img src="{{ images.-8b48db1.url }}" width="130" alt="{{ images.-8b48db1.alt | trim | escape }}" class="footer-logo"></div>
        <div id="w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da72-dcc6da57" class="footer-column hide">
          <div class="title">{{ texts.4cd26f01 }}</div>
          <a href="{{ links.-cee926e }}" target="_blank" class="footer-link">{{ texts.-3a4b3b39 }}</a>
        </div>
        <div id="w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da69-dcc6da57" class="footer-column hide">
          <div class="title">{{ texts.-201f4386 }}</div>
          <a href="{{ links.4674b411 }}" class="footer-link">{{ texts.-7aba473 }}</a>
          <a href="{{ links.16aa64ae }}" class="footer-link">{{ texts.-31d02e8c }}</a>
          <a href="{{ links.-c3ccc15 }}" class="footer-link">{{ texts.6d291a31 }}</a>
          <a href="{{ links.76a31a6b }}" target="_blank" class="footer-link">{{ texts.2e81932c }}</a>
        </div>
        <div id="w-node-_67f7db32-28d2-9f37-8b84-a159dcc6da5e-dcc6da57" class="footer-column">
          <div class="title">{{ texts.38a73c7d }}</div>
          <a href="{{ links.2f }}" aria-current="page" class="footer-link w--current">{{ texts.2268ff }}</a>
          <a href="{{ links.-753a8e73 }}" class="footer-link">{{ texts.560f747e }}</a>
          <a href="{{ links.-66ead1f3 }}" class="footer-link">{{ texts.645efc51 }}</a>
          <a href="{{ links.4b0e6111 }}" class="footer-link">{{ texts.-64104400 }}</a>
        </div>
      </div>
      <div class="footer-legal">
        <div class="footer-detail-left hide">
          <div class="legal">{{ texts.24ba81e7 }}<a href="{{ links.-cee926e }}" target="_blank" class="webflow-link">{{ texts.7cd8251f }}</a>{{ texts.7750e664 }}<a href="{{ links.-c9dba34 }}" target="_blank" class="webflow-link">{{ texts.-53d3659e }}</a>
          </div>
        </div>
        <div class="footer-detail-right">
          <div class="social-icon-wrap hide">
            <a href="{{ links.23 }}" class="social-link w-inline-block"><img src="{{ images.-52a5825.url }}" alt="{{ images.-52a5825.alt | trim | escape }}" class="social-icon"></a>
            <a href="{{ links.23 }}" class="social-link w-inline-block"><img src="{{ images.c7503d5.url }}" alt="{{ images.c7503d5.alt | trim | escape }}" class="social-icon"></a>
            <a href="{{ links.23 }}" class="social-link w-inline-block"><img src="{{ images.4fb5ff60.url }}" alt="{{ images.4fb5ff60.alt | trim | escape }}" class="social-icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>